Django>=5.2

asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.1
httplib2==0.22.0
idna==3.10
pillow==11.1.0
postmarker==1.0
psycopg2-binary==2.9.10
pyparsing==3.2.3
pytz==2025.2
requests==2.32.3
sqlparse==0.5.3
urllib3==2.4.0
daphne>=4.0
gunicorn>=20.1
psycopg2-binary
dj-database-url
python-dotenv~=1.1.0
whitenoise~=6.9.0
djangorestframework~=3.16.0
djangorestframework-simplejwt>=5.2.2
corsheaders